/* @import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

body {
  /* font-family: "'Public Sans', sans-serif"; */
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.6;
  background: #efefef;
  color: #333;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  display: block;
  max-width: 100%;
  filter: invert(0) brightness(1);
}

button {
  border: none;
  outline: 0;
  background: transparent;
}

a {
  color: unset;
  text-decoration: none;
}

.block-wrap {
  border-radius: 6px;
  padding: 20px;
  background: #fff;
  box-shadow: 0 0 0.25rem rgba(75, 70, 92, 0.1);
}

.dark .block-wrap {
  background: rgb(3, 7, 18);
  box-shadow: 0 0 0.25rem rgba(165, 163, 174, 0.3);
}

.scrollbar::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

.scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 100vh !important;
  background-color: #e9e9e9;
  outline: 1px solid rgba(0, 0, 0, 0.02);
  outline-offset: -1px;
}
